<section class="landing-wrapper">
    <div>
        <label for="reference-word">Reference:</label>
        <input type="text" id="reference-word" placeholder="reference word" ng-model="landing.model.reference">

        <label for="new-word">New candidate:</label>
        <input type="text" id="new-word" placeholder="candidate word" ng-model="landing.model.newWord">
        <button ng-click="landing.onWordAdding()">+</button>
    </div>

    <div>
        <div class="list-wrapper">
            <span ng-repeat="item in landing.model.list">{{item.word}}</span>
        </div>

        <button ng-click="landing.onWordRemoval()">-</button>
    </div>
</section>
