body {
  background-color: #ecf0f1;
  color: #34495e;
  font-family: Trebuchet, Arial, sans-serif;
}

.landing-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.top-margin {
  margin-top: 30px;
}

.form-shadow {
  box-shadow: 3px 3px 5px #888888;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #c3c3c3;
}

.column-wrapper {
  display: flex;
  align-items: baseline;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

label {
  width: 120px;
  float: left;
}

.column-item {
  padding-top: 15px;
  display: flex;

  label {
    align-items: center;
    display: inherit;
  }
}

.similarity {
  display: inherit;
  font-size: 12px;
  color: #757575;
}

.item-wrapper {
  border: 1px solid;
  border-radius: 6px;
  padding: 10px;
  margin: 5px;
}

.form-control {
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
